@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

.carousel-item {
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
}

.logo-text {
    background: -webkit-linear-gradient(left, #1d39be, #0bdad0, #745eed, #e900a7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
    border-left: 1px solid hsla(0, 0%, 100%, 0.1);
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.4);
} */